
.DS_Store
.ipynb_checkpoints/010.Data_Cleaning-checkpoint.ipynb
DATA/TEST_VALUES.csv
DATA/TRAINING_LABELS.csv
DATA/TRAINING_VALUES.csv
PKL/clean_df.pkl
.ipynb_checkpoints/020.Exploratory_Data_Analysis-checkpoint.ipynb
DATA/clean_df.csv
PKL/X_test.pkl
PKL/X_train.pkl
PKL/y_test.pkl
PKL/y_train.pkl
.ipynb_checkpoints/030.Model_Evaluation-checkpoint.ipynb
.ipynb_checkpoints/031.Model_Evaluation-2-checkpoint.ipynb
*.pkl
MAP/tza_admbnda_adm3_20181019.CPG
MAP/tza_admbnda_adm3_20181019.dbf
MAP/tza_admbnda_adm3_20181019.prj
MAP/tza_admbnda_adm3_20181019.shp
MAP/tza_admbnda_adm3_20181019.shx
CSV_temp/X_test.csv
CSV_temp/X_train.csv
CSV_temp/y_test.csv
CSV_temp/y_train.csv
.ipynb_checkpoints/030B.Model_Evaluation-KNN-checkpoint.ipynb
__pycache__/preprocessing_pipeline.cpython-37.pyc
__pycache__/dictionaries.cpython-37.pyc
.ipynb_checkpoints/040.Final_Testing-checkpoint.ipynb
DrivenData_Tanzania_Water.key
.ipynb_checkpoints/030B.Model_Evaluation-kNN_subset-checkpoint.ipynb
*.png
.ipynb_checkpoints/030.Model_Evaluation_Clean-checkpoint.ipynb
200821_EB_DK_Water_Crisis_in_Tanzania.pdf
